extends layout

block content
  main.posts
    if header
      h1= header
    each post in posts
      article
        .intro
          h2.title
            a(href='/post/' + post.slug) #{post.title}
          .desc= post.desc
          .meta
            .date=post.createdStr
            .tags Tags: 
              - var i = 0
              each tag in post.tags
                - var str = ', '
                if (i == post.tags.length - 1)
                  - str = ''
                a(href='/tag/' + tag) #{tag}
                =str
                - i++ 
        //- h2
        //-   a(href='/post/' + post.slug) #{post.title}
        //- .meta
        //-   .date=post.createdStr
        //- p #{post.desc}
  if pages > 1
    include partials/pagination.pug
